<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="main.css" />
  <title>English</title>
</head>
<body>
  <nav class='betweens'>
    <div class='centers'><span style="font-size: 36px; color: red; margin-right: 20px;">HONG</span><div id='count'>15</div></div>
    <div class='centers'>
      <span style="margin-right: 20px; font-size: 24px;">두명을 선택하고 제출 버튼을 누릅니다. 선택한 항목을 다시 누르면 취소 됩니다.</span>
      <button id='submit'>제출</button>
    </div>
  </nav>
  
  <div class="main-wrapper centers">
    <div class="inner-wrapper">
      <div class="vote-wrapper">
        <div class="vote-liners centers">
          <div class="vote-liner betweens">
            <div class="vote-item centers">
              <div class="circle centers">1</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-item centers">
              <div class="circle centers">2</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-item centers">
              <div class="circle centers">3</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-item centers">
              <div class="circle centers">4</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-item centers">
              <div class="circle centers">5</div>
              <span class="name">최지웅</span>
            </div>
          </div>
        </div>
        <div class="vote-liners centers">
          <div class="vote-liner betweens">
            <div class="vote-item centers">
              <div class="circle centers">6</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-item centers">
              <div class="circle centers">7</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-item centers">
              <div class="circle centers">8</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-item centers">
              <div class="circle centers">9</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-item centers">
              <div class="circle centers">10</div>
              <span class="name">최지웅</span>
            </div>
          </div>
        </div>
        <div class="vote-liners centers">
          <div class="vote-liner betweens">
            <div class="vote-item centers">
              <div class="circle centers">11</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-item centers">
              <div class="circle centers">12</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-item centers">
              <div class="circle centers">13</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-item centers">
              <div class="circle centers">14</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-itemx centers">
              <div class="circle centers">HONG</div>
              <span class="names">박기태, 임헌우, 홍순찬</span>
            </div>
          </div>
        </div>
      </div>
      <span class='centers' style='font-size: 24px; color: white;'>두명을 선택하고 제출 버튼을 누릅니다. 선택한 항목을 다시 누르면 취소 됩니다.</span>
    </div>
  </div>
</body>

<script>
const getNames = document.getElementsByClassName("name");
const getVoteItem = document.getElementsByClassName('vote-item');
const getSubBtn = document.getElementById('submit');
const printCount = document.getElementById('count');
const member = [
  {name:"김도희"},
  {name:"백서영"},
  {name:"박진홍"},
  {name:"오준상"},
  {name:"이성진"},
  {name:"김기욱"},
  {name:"김초연"},
  {name:"박수혁"},
  {name:"양재훈"},
  {name:"이재관"},
  {name:"황윤서"},
  {name:"박재훈"},
  {name:"이형진"},
  {name:"최승교"}
];

var lis = [];

let change = (a) => {
  getVoteItem[a-1].children[1].classList.toggle('sel');
  getVoteItem[a-1].classList.toggle('sel');
};

let port = (a) => {    
  if(!getVoteItem[a-1].active) {
    if(lis.length == 2) {
      alert("2명을 선택해주세요.");
    } else {
      getVoteItem[a-1].active = true;
      lis.push(a);
      change(a);
    }
  }
  else {
    getVoteItem[a-1].active = false;
    lis.splice(lis.indexOf(a), 1);
    change(a);
  }
};

window.onload = () => {
  getSubBtn.addEventListener('click', () => front());
  for(let i=0; i<getNames.length; i++) {
    getNames[i].innerText = member[i]['name'];
  }
  for(let i=0; i<getVoteItem.length; i++){
    getVoteItem[i].number = i+1;
    getVoteItem[i].addEventListener('click', () => port(getVoteItem[i].number));
  }
  getCount();
}

let getCount = () => {
  fetch('/count_1').then((res) => {
  if (res.status === 200) {
    res.text().then(text => printCount.innerText = text+"명");
    } else {
      alert(res.statusText);
    }
  }).catch(err => alert(err));
}

let front = () => {
  if(lis.length == 2) {
    fetch(`/poll1/?fst=${lis[0]}&scd=${lis[1]}`).then((res) => {
      if (res.status === 200) {
        alert("완료: 확인 버튼을 누르고 퇴장합니다.");
        location.reload();
      } else {
        alert("에러: 다시 제출해주세요. 2회 이상 반복되면 도움을 요청하세요.");
      }
    }).catch(err => alert(err));
  }
  else {
    alert("2명을 선택해주세요.");
  }
};
</script>
</html>

