<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="main.css" />
  <title>2grade English</title>
</head>
<body>
  <nav class='betweens'>
    <div class='centers'><span style="font-size: 36px; color:rgb(255, 0, 0); font-weight: 600; margin-right: 20px;">HONG</span><span>For DSM</span><div id='count'>15</div></div>
    <div class='centers'>
      <span style="margin-right: 20px; font-size: 24px;">두명을 선택하고 제출 버튼을 누릅니다. 선택한 항목을 다시 누르면 취소 됩니다.</span>
      <button id='submit'>제출</button>
    </div>
  </nav>
  <div class="main-wrapper centers">
    <div class="inner-wrapper">
      <div class="vote-wrapper">
        <div class="vote-liners centers">
          <div class="vote-liner betweens">
            <div class="vote-item centers">
              <div class="circle centers">1</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-item centers">
              <div class="circle centers">2</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-item centers">
              <div class="circle centers">3</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-item centers">
              <div class="circle centers">4</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-item centers">
              <div class="circle centers">5</div>
              <span class="name">최지웅</span>
            </div>
          </div>
        </div>
        <div class="vote-liners centers">
          <div class="vote-liner betweens">
            <div class="vote-item centers">
              <div class="circle centers">6</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-item centers">
              <div class="circle centers">7</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-item centers">
              <div class="circle centers">8</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-item centers">
              <div class="circle centers">9</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-item centers">
              <div class="circle centers">10</div>
              <span class="name">최지웅</span>
            </div>
          </div>
        </div>
        <div class="vote-liners centers">
          <div class="vote-liner betweens">
            <div class="vote-item centers">
              <div class="circle centers">11</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-item centers">
              <div class="circle centers">12</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-item centers">
              <div class="circle centers">13</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-item centers">
              <div class="circle centers">14</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-item centers">
              <div class="circle centers">15</div>
              <span class="name">최지웅</span>
            </div>
          </div>
        </div>
        <div class="vote-liners centers">
          <div class="vote-liner betweens">
            <div class="vote-item centers">
              <div class="circle centers">16</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-item centers">
              <div class="circle centers">17</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-item centers">
              <div class="circle centers">18</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-item centers">
              <div class="circle centers">19</div>
              <span class="name">최지웅</span>
            </div>
            <div class="vote-item centers">
              <div class="circle centers">20</div>
              <span class="name">최지웅</span>
            </div>
          </div>
        </div>
      </div>
      <span class='centers' style='font-size: 24px; color: white;'>두명을 선택하고 제출 버튼을 누릅니다. 선택한 항목을 다시 누르면 취소 됩니다.</span>
    </div>
  </div>
</body>
<script>
const getNames = document.getElementsByClassName("name");
const getVoteItem = document.getElementsByClassName('vote-item');
const getSubBtn = document.getElementById('submit');
const printCount = document.getElementById('count');
const member = [
    {name:"정근재", vote:0}, 
    {name:"홍성하", vote:0},
    {name:"김영한", vote:0},
    {name:"성유정", vote:0},
    {name:"이주용", vote:0},
    {name:"노시현", vote:0}, 
    {name:"최이삭", vote:0},
    {name:"김도훈", vote:0},
    {name:"김상은", vote:0},
    {name:"이채은", vote:0},
    {name:"안소현", vote:0}, 
    {name:"최소영", vote:0},
    {name:"남유림", vote:0},
    {name:"황신우", vote:0},
    {name:"장호승", vote:0},
    {name:"장윤수", vote:0},
    {name:"최지웅", vote:0}, 
    {name:"김태현", vote:0},
    {name:"김소연", vote:0},
    {name:"박예린", vote:0},
];
var lis = [];

let change = (a) => {
  getVoteItem[a-1].children[1].classList.toggle('sel');
  getVoteItem[a-1].classList.toggle('sel');
};

let port = (a) => {    
  if(!getVoteItem[a-1].active) {
    if(lis.length == 2) {
      alert("2명을 선택해주세요.");
    } else {
      getVoteItem[a-1].active = true;
      lis.push(a);
      change(a);
    }
  }
  else {
    getVoteItem[a-1].active = false;
    lis.splice(lis.indexOf(a), 1);
    change(a);
  }
};

window.onload = () => {
  getSubBtn.addEventListener('click', () => front());
  for(let i=0; i<getNames.length; i++) {
    getNames[i].innerText = member[i]['name'];
  }
  for(let i=0; i<getVoteItem.length; i++){
    getVoteItem[i].number = i+1;
    getVoteItem[i].addEventListener('click', () => port(getVoteItem[i].number));
  }
  getCount();
}

let getCount = () => {
  fetch('/count_2').then((res) => {
  if (res.status === 200) {
    res.text().then(text => printCount.innerText = text+"명");
    } else {
      alert(res.statusText);
    }
  }).catch(err => alert(err));
}

let front = () => {
  if(lis.length == 2) {
    fetch(`/poll2/?fst=${lis[0]}&scd=${lis[1]}`).then((res) => {
      if (res.status === 200) {
        alert("완료: 확인 버튼을 누르고 퇴장합니다.");
        location.reload();
      } else {
        alert("에러: 다시 제출해주세요. 2회 이상 반복되면 도움을 요청하세요.");
      }
    }).catch(err => alert(err));
  }
  else {
    alert("2명을 선택해주세요.");
  }
};


</script>
</html>